
---
import Base from "../layout/Base.astro";
---


<Base>
<main class=" font-interTight ">
<button class=" fixed top-0 left-0 bg-black text-white z-40 buttonc">create instance</button>
<section class="hero-section relative w-full  ">
<div class=" hero-content min-h-screen h-screen  w-full  relative z-20 flex flex-col gap-8 xs:gap-12 items-start px-32 pt-56 overflow-hidden xs:px-6  ">
	<h1 class="font-semibold text-[85px] leading-[80px] drop-shadow-sm xs:text-[50px] xs:leading-[50px]">Helderheid in <br> ieder moment.</h1>
	<div class="flex xs:flex-col xs:items-start xs:justify-center gap-3 justify-start items-center">
		<button class="px-5 py-4 rounded-2xl bg-white text-black">Koop vanaf €380</button>
		<div>
			<label for="rating" class="flex  gap-2 py-2  items-center justify-between rounded-2xl ">
				<div>
					<svg class=" fill-green-500" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path  d="m12 17.275l-4.15 2.5q-.275.175-.575.15t-.525-.2t-.35-.437t-.05-.588l1.1-4.725L3.775 10.8q-.25-.225-.312-.513t.037-.562t.3-.45t.55-.225l4.85-.425l1.875-4.45q.125-.3.388-.45t.537-.15t.537.15t.388.45l1.875 4.45l4.85.425q.35.05.55.225t.3.45t.038.563t-.313.512l-3.675 3.175l1.1 4.725q.075.325-.05.588t-.35.437t-.525.2t-.575-.15z"/></svg>
				</div>
				<div><p class=" font-normal">
					4.5 | Uitstekend </p></div>
			</label>
		</div>
	</div>
</div>
<div class="hero-bg-video absolute z-10  inset-0  h-[2096px] ">
	<div class="media-object  sticky top-0 h-screen w-full">
		<div class="w-full video-cover absolute inset-0 bg-black z-10 opacity-0"></div>
		<video class="w-full h-full product-video   absolute inset-0  object-cover" muted autoplay src="/bg-video/intro-video-new.mp4"></video>
	</div>
</div>
</section>

<section class="section-two w-full relative z-40 mt-32">
	<div class="details flex flex-col gap-24 xs:gap-12 px-32 py-12 xs:px-12 ">
        <h2  class="detail detail-1 text-[50px] font-semibold text-white leading-tight xs:text-[25px]">
			Geen weken wachten. Razendsnel in huis.
        </h2>
        <h2  class="detail detail-2 text-[50px] font-semibold text-white leading-tight xs:text-[25px]">
			Glashelder design, gebouwd voor de lange termijn.
        </h2>
        <h2  class="detail detail-3 text-[50px] font-semibold text-white leading-tight xs:text-[25px]">
			5 jaar garantie. Gemoedsrust, inbegrepen.
        </h2>
        <h2  class="detail detail-4 text-[50px] font-semibold text-white leading-tight xs:text-[25px]">
          App pré-installée sur iPhone, iPad, Mac et Apple TV.
        </h2>
        <h2  class="detail detail-5 text-[50px] font-semibold text-white leading-tight xs:text-[25px]">
			Geen compromissen, enkel het allerbeste.
        </h2>
        <div
          
          class="detail detail-6 w-full h-[260px] flex justify-evenly items-center gap-2 p-2 bg-neutral-900 rounded-3xl"
        >
          <div class="flex-1 h-full bg-neutral-800 rounded-2xl"></div>
          <div class="flex-1 h-full bg-neutral-800 rounded-2xl"></div>
          <div class="flex-1 h-full bg-neutral-800 rounded-2xl"></div>
        </div>
      </div>
</section>

<section class=" w-full">
	<div class=" slider-sticky-wrapper h-[1896px] mt-[-100vh] w-full relative ">
		<div class=" sticky top-0 w-full h-screen overflow-hidden ">
			<div class="swiper-sticky-wrapper absolute top-[50%] left-0 h-[506px] translate-y-[-50%] w-full    ">
				<div class="swiper w-full h-full relative">
					<!-- Additional required wrapper -->
					<div class="swiper-wrapper h-full">
					  <!-- Slides -->
					  <div class="swiper-slide slide-1 h-full rounded-3xl overflow-hidden"><img class=" object-cover w-full h-full" src="/slides/two.avif" alt=""></div>
					  <div class="swiper-slide slide-2 h-full rounded-3xl overflow-hidden"><img class="w-full h-full object-cover" src="/slides/one.avif" alt=""></div>
					  <div class="swiper-slide slide-3 h-full rounded-3xl overflow-hidden"><img class="w-full h-full object-cover" src="/slides/three.avif" alt=""></div>
					  <div class="swiper-slide slide-4 h-full rounded-3xl overflow-hidden"><img class="w-full h-full object-cover" src="/slides/four.avif" alt=""></div>
					
					</div>
					<div class="swiper-button-prev absolute top-[50%] translate-y-[-50%] bg-slate-950 w-24 h-24 left-4 z-50  rounded-3xl"></div>
                    <div class="swiper-button-next absolute top-[50%] translate-y-[-50%] bg-slate-950 w-24 h-24 right-4 z-50 rounded-3xl"></div>
				</div>
			</div>

		</div>
	</div>
	<div class="marquee-wrapper   w-full bg-neutral-800 py-4 flex justify-center items-center">
       <div class="marquee-inner-1 relative flex gap-3 overflow-hidden w-full">
		 <div class="marquee-1 flex gap-3 justify-evenly items-center min-w-full">
<div class="marquee-item"></div>
<div class="marquee-item"></div>
<div class="marquee-item"></div>
<div class="marquee-item"></div>
<div class="marquee-item"></div>

		 </div>	
	   </div>
	</div>
</section>
<section class="h-screen bg-red-500 w-full flex justify-center items-center">
	<p>we have arrived</p>
</section>

</main>

</Base>

<style>
	.marquee-item{
@apply rounded-2xl w-[320px] h-[200px] bg-blue-400
	}

	.detail{
		opacity:0;
		transform: translateY(40px)
	}
	
	.swiper{
		scale:3
	}


	
	.swiper-button-prev{
		opacity:0;
		
	}
	.swiper-button-next{
		opacity:0;
		
	}
</style>

  <script  >
	// @ts-nocheck
	import Swiper from 'swiper';
	import 'swiper/css';
  	import {gsap} from "gsap" 
  	import { ScrollTrigger } from 'gsap/ScrollTrigger';
	// import function to register Swiper custom elements
    import { register, type SwiperContainer } from 'swiper/element/bundle';
import type { SwiperModule } from 'swiper/types';
import { tweened } from 'svelte/motion';
    // register Swiper custom elements
    register();
   
  	gsap.registerPlugin(ScrollTrigger)


	let stickyWrapper = document.querySelector('.hero-bg-video') as HTMLElement
	let sliderStickyWrapper = document.querySelector('.slider-sticky-wrapper') as HTMLElement
	let sectionOne = document.querySelector('.hero-section') as HTMLElement
	let sectionTwo = document.querySelector('.section-two') as HTMLElement
	let slideNextButton = document.querySelector('.swiper-button-next')
	let slidePrevButton = document.querySelector('.swiper-button-prev')
    let inactiveSlides:HTMLElement[] = []
    let swiperTl:GSAPTimeline


function createInstance(targets:[]){
gsap.to(targets,{

})
} 


const swiper = new Swiper('.swiper', {
  centeredSlides: true,
  slidesPerView: 1.5,
  loop: true,
  spaceBetween: 20,
  navigation: {
    nextEl: ".swiper-button-next",
    prevEl: ".swiper-button-prev",
  },
  on: {
    slideChangeTransitionEnd: function () {
      // Clear the inactiveSlides array
      inactiveSlides = [];

      // Populate inactiveSlides with non-active slides
      this.slides.forEach((slide, i) => {
        if (i !== this.activeIndex) {
          inactiveSlides.push(slide);
        }
      });

    swiperTl.clear()
	

	 
    
    },
    init: function () {
      // Populate inactiveSlides on initialization
      this.slides.forEach((slide, i) => {
        if (i !== this.activeIndex) {
          inactiveSlides.push(slide);
        }
      });
       gsap.set(inactiveSlides,{opacity:0})
	  swiperTl = gsap.timeline({
		scrollTrigger:{
			trigger:".hero-bg-video",
			start:"bottom 10%",
			toggleActions:'play none none reverse',
		
		}
	  })

	  swiperTl.to(inactiveSlides,{opacity:1})

      console.log("Initial inactive slides:", inactiveSlides);

     
    },
  },
});

  



	function setHeight(){
	let sectionHeight = sectionOne.offsetHeight+sectionTwo.offsetHeight
     stickyWrapper.style.height=`${sectionHeight+200}px`
	 sliderStickyWrapper.style.height = `${sectionHeight}px`
	
	
	}
 

	window.addEventListener('resize', setHeight);
	
     setHeight()
	

	
	
  	
  	let tl = gsap.timeline({
  		scrollTrigger:{
  		trigger:'.hero-section',
  		start:'top top',
  		end: '+=600',
  		scrub:true
  	}
  	})
  
    tl.to('.hero-content',{
  	opacity:0,
  	
    })
   tl.to('.video-cover',{opacity:1})
   tl.set('.product-video',{opacity:0})
  

  
   document.querySelectorAll('.detail').forEach((element,i)=>{
        gsap.to(element,{
              opacity:1,
              y:0,
              duration:0.3,
	          ease:'none',
      scrollTrigger:{
      	trigger:element,
      	start:'top 90%',
      	toggleActions:'play none none reverse'
      
      
      }
      })
      
      
      })


	  

	 gsap.to(".swiper",{scale:1,

		scrollTrigger:{
			trigger:".hero-bg-video",
			start:"bottom 70%",
            end:"bottom top",
			scrub:true,
			toggleActions:'play none none reverse',
		
		}
	 })


	 
	 gsap.to(".swiper-button-prev,.swiper-button-next",{opacity:1,
		scrollTrigger:{
			trigger:".hero-bg-video",
			start:"bottom 10%",
			toggleActions:'play none none reverse',
		
		}
	 })
	
let tween

function playMarquee(){
let progress = tween ? tween.progress() : 0
tween && tween.progress(0).kill()
const marqueeInnerOne = document.querySelector(".marquee-inner-1") as HTMLElement

const marqueeOne = marqueeInnerOne.children[0];
const marqueeOneClone  = marqueeOne?.cloneNode(true)
marqueeInnerOne.append(marqueeOneClone)

const marqueeWidth = parseInt(getComputedStyle(marqueeOne).getPropertyValue("width"),10)
const marqueeGap = parseInt(getComputedStyle(marqueeOne).getPropertyValue("column-gap"),10)

const distanceToTranslate = -1 * (marqueeWidth+marqueeGap)


tween =  gsap.fromTo(marqueeInnerOne.children,{x:0},{x:distanceToTranslate,duration:2,ease:"none",repeat:-1})
tween.progress(progress)
}


window.addEventListener('resize',debounce(playMarquee))
playMarquee()

function debounce(func){
let timer;
return function(event){
	if(timer) clearTimeout(timer);
	timer = setTimeout(()=>{func()},200,event)
}
}
	
</script>