---
import Base from "../layout/Base.astro";
---


<Base>
<main class=" font-interTight ">

<section class="hero-section relative w-full ">
<div class=" hero-content  relative z-20 flex flex-col gap-8 items-start px-32 pt-56  ">
	<h1 class="font-semibold text-[85px] leading-[80px] drop-shadow-sm">Helderheid in <br> ieder moment.</h1>
	<button class="px-5 py-4 rounded-2xl bg-white text-black">Koop vanaf €380</button>
	<div class="mt-16">
		<label for="rating" class="flex  bottom-12 gap-2 py-2 px-4 items-center justify-between rounded-2xl bg-transparent backdrop-blur-lg">
			<div>
				<svg class=" fill-green-500" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path  d="m12 17.275l-4.15 2.5q-.275.175-.575.15t-.525-.2t-.35-.437t-.05-.588l1.1-4.725L3.775 10.8q-.25-.225-.312-.513t.037-.562t.3-.45t.55-.225l4.85-.425l1.875-4.45q.125-.3.388-.45t.537-.15t.537.15t.388.45l1.875 4.45l4.85.425q.35.05.55.225t.3.45t.038.563t-.313.512l-3.675 3.175l1.1 4.725q.075.325-.05.588t-.35.437t-.525.2t-.575-.15z"/></svg>
			</div>
			<div><p class=" font-normal">
				4.5 | Uitstekend </p></div>
		</label>
	</div>
</div>
<div class="hero-bg-video absolute z-10 inset-0 w-full h-[2900px] bg-gray-800 md:h-[2500px] lg:h-[2096px] xl:h-[2100px]">
	<div class="media-object  sticky top-0 h-screen   w-full">
		<div class="w-full video-cover absolute inset-0 bg-black z-10 opacity-0"></div>
		<video class="w-full h-full product-video   absolute inset-0  object-cover" muted autoplay src="/bg-video/intro-video-new.mp4"></video>
	</div>
</div>
</section>

<section class="section-two w-full relative z-40 mt-32">
	<div class="details flex flex-col gap-24 px-32 py-12">
        <h2  class="detail detail-1">
			Geen weken wachten. Razendsnel in huis.
        </h2>
        <h2  class="detail detail-2">
			Glashelder design, gebouwd voor de lange termijn.
        </h2>
        <h2  class="detail detail-3">
			5 jaar garantie. Gemoedsrust, inbegrepen.
        </h2>
        <h2  class="detail detail-4">
          App pré-installée sur iPhone, iPad, Mac et Apple TV.
        </h2>
        <h2  class="detail detail-5">
			Geen compromissen, enkel het allerbeste.
        </h2>
        <div
          
          class="detail detail-6 w-full h-[260px] flex justify-evenly items-center gap-2 p-2 bg-neutral-900 rounded-3xl"
        >
          <div class="flex-1 h-full bg-neutral-800 rounded-2xl"></div>
          <div class="flex-1 h-full bg-neutral-800 rounded-2xl"></div>
          <div class="flex-1 h-full bg-neutral-800 rounded-2xl"></div>
        </div>
      </div>
</section>

<section class="  w-full">
	<div class=" h-[2600px] mt-[-100vh] w-full relative md:h-[2500px] lg:h-[2096px] xl:h-[2100px] ">
		<div class=" sticky top-0 w-full h-screen ">
			<div class="swiper-wrapper absolute top-[50%] left-0 h-[506px] translate-y-[-50%] w-full overflow-hidden  ">
				<swiper-container centered-slides="true" 
				loop="true" 
				slides-per-view="1.5" 
				initial-slide="0" 
				space-between="20" 
				class=" h-full"
				>
					<swiper-slide class=" h-full rounded-3xl overflow-hidden"> <img class=" object-cover w-full h-full" src="/slides/two.avif" alt=""></swiper-slide>
					<swiper-slide class=" h-full rounded-3xl overflow-hidden"> <img class="w-full h-full object-cover" src="/slides/one.avif" alt=""></swiper-slide>
					<swiper-slide class=" h-full rounded-3xl overflow-hidden"> <img class="w-full h-full object-cover" src="/slides/three.avif" alt=""></swiper-slide>
					<swiper-slide class=" h-full rounded-3xl overflow-hidden"> <img class="w-full h-full object-cover" src="/slides/four.avif" alt=""></swiper-slide>
					<swiper-slide class=" h-full rounded-3xl overflow-hidden"> <img class="w-full h-full object-cover" src="/slides/five.avif" alt=""></swiper-slide>
				  </swiper-container>
			</div>

		</div>
	</div>
	<div class="marquee w-full bg-neutral-800 h-[400px] flex justify-center items-center">
<p>Section for marquee</p>
	</div>
</section>
<section class="h-screen bg-red-500 w-full flex justify-center items-center">
	<p>we have arrived</p>
</section>

</main>

</Base>

<style>

	.detail{
		opacity:0;
		transform: translateY(40px)
	}
	
	h2 {
  @apply text-[50px] font-semibold text-white leading-tight ;
}


</style>

  <script  >
	
  	import {gsap} from "gsap" 
  	import { ScrollTrigger } from 'gsap/ScrollTrigger';
	// import function to register Swiper custom elements
    import { register } from 'swiper/element/bundle';
    // register Swiper custom elements
    register();
   
  	gsap.registerPlugin(ScrollTrigger)
  	
  	let tl = gsap.timeline({
  		scrollTrigger:{
  		trigger:'.hero-section',
  		start:'top top',
  		end: '+=600',
  		scrub:true
  	}
  	})
  
    tl.to('.hero-content',{
  	opacity:0,
  	
    })
   tl.to('.video-cover',{opacity:1})
   tl.set('.product-video',{opacity:0})
  

  
   document.querySelectorAll('.detail').forEach((element,i)=>{
        gsap.to(element,{
              opacity:1,
              y:0,
              duration:0.3,
	          ease:'none',
      scrollTrigger:{
      	trigger:element,
      	start:'top 90%',
      	toggleActions:'play none none reverse'
      
      
      }
      })
      
      
      })


	  const activeSlide = document.querySelector('swiper-slide.swiper-slide-active')
	  console.log(activeSlide);
	  

	
</script>